
altgraph==0.10.2
asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
bdist-mpkg==0.5.0
beautifulsoup4==4.9.1
certifi==2020.4.5.1
cffi==1.12.2
chardet==3.0.4
clean-text==0.2.1
click==7.1.2
cryptography==2.6.1
enum34==1.1.6
Flask==1.1.2
Flask-SQLAlchemy==2.4.3
ftfy==4.4.3
future==0.17.1
futures==3.1.1
html5lib==1.1
idna==2.9
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.14.1
macholib
MarkupSafe==1.1.1
freetype-py==2.2.0
matplotlib
modulegraph==0.10.4
nltk==3.5
numpy==1.19.1
protobuf==3.12.4
py2app==0.7.3
pycparser==2.19
pyparsing==2.0.1
python-dateutil
pytz==2013.7
regex==2020.7.14
requests==2.23.0
scipy==1.5.2
six==1.12.0
soupsieve==1.9.6
SQLAlchemy==1.3.18
tqdm==4.48.2
urllib3==1.25.9
pyvbox==2.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
xattr==0.9.7
tensorflow==2.3.0
tensorflow-hub==0.9.0
Keras==2.4.3
pandas
elmo
bert
gensim==3.8.3
pycorenlp==0.3.0
POSPair==0.0.4
POSPairWordEmbeddings==0.0.4
lxml==4.5.2
scikit-learn==0.23.2

